:root {
  --background-color: rgb(32, 31, 31);
  --second-color: rgba(15, 15, 15, 0.342);
  --font-color: rgb(224, 208, 208);
}

body {
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: calc(20px + 1vw);
}
.correct-letter {
  opacity: 1 !important;
  color: green !important;
}
.falsy-letter {
  opacity: 1 !important;
  color: red !important;
}
